/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2018, 6:38:42 PM
    Author     : ADMIN
*/
.pic{
    width: 45%;
    margin: 5px;
    height: auto;

}
.picRow{
    text-align: center;
}

.margin-last {
    margin-bottom: 10%;
}

.fit-image {
    object-fit: cover;
    height: 650px;
    object-position: 0px 1px;
}

.container .btn1 {
    position: absolute;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 15px;
    background-color: green;
    border-color: green;
    color: white;
    top: 134%;
    left: 27%;

}
.container .btn2 {
    position: absolute;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 15px;
    background-color: red;
    border-color: red;
    color: white;
    top: 134%;
    left: 63%;

}
.container .btn3 {
    position: absolute;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 15px;
    background-color: yellow;
    border-color: yellow;
    color: white;
    top: 180%;
    left: 27%;
}

.container .btn4 {
    position: absolute;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 15px;
    background-color: orange;
    border-color: orange;
    color: white;
    top: 180%;
    left: 63%;
}

.container .btn1:hover {
    background-color: rgba(255, 99, 71, 0.2);
    border-color: rgba(255, 99, 71, 0.2);
}

.container .btn2:hover {
    background-color: rgba(255, 99, 71, 0.2);
    border-color: rgba(255, 99, 71, 0.2);
}

.container .btn3:hover {
    background-color: rgba(255, 99, 71, 0.2);
    border-color: rgba(255, 99, 71, 0.2);
}

.container .btn4:hover {
    background-color: rgba(255, 99, 71, 0.2);
    border-color: rgba(255, 99, 71, 0.2);
}

@font-face {
    font-family: 'moonbold';
    src: url('Fonts/font-moonlight/moon_bold-webfont.woff2') format('woff2'),
        url('Fonts/font-moonlight/moon_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'moonlight';
    src: url('Fonts/font-moonlight/moon_light-webfont.woff2') format('woff2'),
        url('Fonts/font-moonlight/moon_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-moonlight {
    font-family: 'moonlight';

}
.font-moonlight-bold {
    font-family: 'moonbold';

}

.pic-input {
    background-image:url('../Icon/search.png');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 18px;
    width: auto;
    height: 20px;
}

.pic-margin {
    margin-bottom: 10%;
}
li{
    display: inline;
}
.form-inline1 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
li a{
    text-decoration: none;
    margin-left: 170px;
}

li input{
    margin-left: 290px;
}

.topicText{
    position: absolute;
    margin-top: 230px;
    font-size: 120px;
    margin-left: 80px;
    color: white;
}

.text{
    position: absolute;
    margin-top: 380px;
    font-size: 40px;
    margin-left: 90px;
    color: white;
}

.topicbtn{
    position: absolute;
    margin-top: 460px;
    margin-left: 100px;
    padding: 20px;
    border-color: green;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-size: 30px;
}
