# NetBeans specific #
UrbanFruits/nbproject/private/
UrbanFruits/build/
UrbanFruits/nbbuild/
UrbanFruits/dist/
UrbanFruits/nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear