<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProductVegServlet</servlet-name>
        <servlet-class>sit.project.servlet.ProductVegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDriedFruitServlet</servlet-name>
        <servlet-class>sit.project.servlet.ProductDriedFruitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAllServlet</servlet-name>
        <servlet-class>sit.project.servlet.ProductAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductFruitServlet</servlet-name>
        <servlet-class>sit.project.servlet.ProductFruitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>sit.project.servlet.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllServlet</servlet-name>
        <servlet-class>sit.project.servlet.SearchAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateServlet</servlet-name>
        <servlet-class>sit.project.servlet.ActivateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>sit.project.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sit.project.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>sit.project.servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductJuiceServlet</servlet-name>
        <servlet-class>sit.project.servlet.ProductJuiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>sit.project.servlet.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>sit.project.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>sit.project.servlet.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>sit.project.servlet.HistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllServlet</servlet-name>
        <url-pattern>/SearchAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductVegServlet</servlet-name>
        <url-pattern>/ProductVeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAllServlet</servlet-name>
        <url-pattern>/ProductAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/ShowCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/RemoveCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDriedFruitServlet</servlet-name>
        <url-pattern>/ProductDriedFruit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductFruitServlet</servlet-name>
        <url-pattern>/ProductFruit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateServlet</servlet-name>
        <url-pattern>/Activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductJuiceServlet</servlet-name>
        <url-pattern>/ProductJuice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
</web-app>
